body{
    background-color: #CFE6F7;

    font-family: 'Montserrat', serif;


}
h2, h3{ 
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin: 5px auto 5px auto;
}
header{
    background-color: #ffe045;
}
header h1{
    text-align: center;
    font-size: 3em;
}
.container, .container2{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: auto;
   
}

.book{
    max-height: 200px;
    overflow: scroll;
    width: 90%;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    background-color: white;
}
.navigation{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 1.10em;
}

.active{
 text-transform: uppercase;
 border: dashed 2px #ffffff;
 border-radius: 5px;
}
.active a::before{
    content: '\1F4DA';
}
nav a:visited{
    color: black;
}

div header{
    background-color: #FFFFFF;
    text-align: center;
}

footer{
    background-color: white;
    height: 80%;
    text-align: center;
    color: #000 ;  
}

img{
  width: 18em;  
  border: 5px solid #ffffff;
}


.tips{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    
    
}
.tip{
    margin: 12px;
    padding: 10px;
    background-color: #ffffff;
    flex-basis: 300px;
    border-radius: 15px;


}
.tip header{
    border-radius: 10px;
    background-color: #ffe045;
}
.center{
    display: block;
    margin-left:auto;
    margin-right: auto;
    /* width: 50%; */
    max-width: 100%;
    height: auto; }
.picture{
    transform: rotate(-20deg);
}


.bio{
    border: 2px solid #ffe045;
    text-align: center;
    border-radius: 15px;
    margin: 10px auto;
    padding: 10px;
    width: 90% ;   
    background-color: #ffffff;

}
    a.skip{ 
    background-color: #ffe045;
    left: 0;
    padding: 6px;   
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;}
    .reviews{
        border:#ffe045 2px dashed;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        background-color: #ffffff;
    }
    
    .buttons{
        justify-content: center;
        align-items: center;
    }
    button{
        background-color: #ffffff;
        color: #000000;
        padding: 10px 15px;
        text-align: center;
        display: inline-block;
        font-size: 1em;
        margin: 2px 2px;
        border: 2px #ffe045 solid;
        border-radius: 4px;
    }
    .all_pictures{
        display: grid;
        grid-template-columns: 1fr;
    }
  
    
@media screen and (min-width: 750px) {

 a.skip:focus{
        top:20px;
        color:black;
        font-weight: bold;
        text-decoration-style: solid;
}

 .container, .container2{
     grid-template-columns: 1fr 1fr;
     /* Editing the grid on the main page to display books next to each other */
 }
 .rev_img{
     margin: 10px;
 }
 .book{
     max-height: 250px;  
    /* editing the scrollable size on the main page grid */
 }
 .tip{
    height: 300px;
    overflow: scroll;
    /* Making the tips of similar size */
}

.navigation{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
/* Spreading the nav out */
}
.all_pictures{
    grid-template-columns: 1fr 4fr 4fr 1fr;
}
.center{
    transform: none;
    margin-left:auto;
    margin-right: auto;
}
.dif{
    grid-column: 2/ span 2;
}
.picture{
    grid-column: 2 / span 1;
}
.reviews{
    min-height: 400px;
    text-align: center;
}
 }
@media screen and (min-width: 900px){

    /* Media Query for desktop view */
    /* Styling for the nav */
    .navigation{
        width: 100%;
        justify-content: flex-end;
        background-color: #ffe045;
    }
    nav li{
        margin: 0px 10px;
    }
    header h1{
        display: inline-block;
        margin: 2%;
        /* Maybe change us the margin here- not sure how I feel about it */
    }
    /* End nav styling */
    /* Styling for book page */
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* End styling for the book page */
    /* Styling for tips page */
    .tip{
        flex-basis: 500px;
    }
    /* End styling for the tips page */
    /* Styling for the reviews page */
    .all_reviews{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /* End reviews styling */
    /* Styling for About me page */
    .para{
        background-image: url(../images/chickpara.jfif); /* I got this chick parralax image from https://www.wattagnet.com/articles/39550-france-germany-to-end-male-layer-chick-culling?v=preview */
        background-repeat: repeat;
        object-fit: cover;   
        background-attachment: fixed;
        position: relative; }   
    .all_pictures{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .dif{
        order: 1;
        grid-column: 2/span 1;
    }
    .one{
        grid-column: 1/span1;
    }
   .chick{
        background-color: #CFE6F7;
    }
    /* Flip card styling */
    .flip-card-container{
        width: 18em;  
        height: 100%;
    } 
    .flip-card{
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s;
    }
    .flip-front, .flip-back{
        position: absolute;
        backface-visibility: hidden;
        width: 18em;
        padding: 5px;
       
    }
    .flip-back{
        transform: rotateY(180deg );
        background-color: #ffe045; 
    }
    .flip-card-container:hover .flip-card{
        transform: rotateY(180deg);
    }
    /* End flip card styling  */
    /* End About me styling */
    /* Start Footer styling */

  
    /* End footer styling */
}


@media screen and (prefers-reduced-motion: reduce){
    #logo{ 
        animation-name: none;
    }
    /* Need to actually make an animation */
    .flip-card-container, .flip-card{
            transform: rotateY(180deg);
    }
        
    
/* Media Query to turn off animation NEED to change the logo part */
}










